:root {
  --bc: #f5f5f5; /*Background Color*/
  --fc: #3a3a3a; /*Font Color*/
  --cc: #f5f5f5; /*Card Color*/
  --border-cc: #f5f5f5; /*Card Border Color*/
}

/*Darkmode*/
body.dark {
  --bc: #1e2021; 
  --fc: #c3beb6;
  --cc: #6b6b6b;
  --border-cc: #1e2021;
  transition: background 0.2s linear; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }

body {
    background-color: var(--bc);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
   }
   
.container {
    width: 145vh;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 20px;
  }

.toggle {
  position: absolute;
  margin: 2em 2em 0 0;
  right: 0;
  top: 0;
}

.time {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#quote {
  color: var(--fc);
  font-style: italic;
  font-size: larger;
  margin-top: 30px;
}
.weatherblock {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather .weatherIcon img {
  width: 70px;
  height: 70px;
}

.weather .weatherValue p {
  font-size: 3vh;
  font-weight: bolder;
  margin-left: 15px;
  color: var(--fc);
}

.weather .weatherDescription p {
  font-size: 3vh;
  margin-left: 15px;
  color: var(--fc);
}

.shorts {
    grid-row: 3 / span 2;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.shorts button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 5px 7px rgb(0 0 0 / 35%);
    border-color: var(--border-cc);
    background-color: var(--cc);
  }
.shorts button i {
    font-size: 25px;
    color: var(--fc);
}

.shorts button:hover {
  transition: 0.2s ease-in-out;
}

.coronablock {
    grid-row: 3 / span 2;
    grid-column: 3 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coronazahlen {
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  color: var(--fc);
  flex-direction: column;
}

#hour,
#separator,
#minutes {
  font-size: 12vh;
  font-weight: bolder;
  color: var(--fc);
}

#title {
  font-size: 3vh;
  color: var(--fc);
}

#wetter {
  font-size: 5vh;
  font-weight: bold;
  color: var(--fc);
}
#button_1 {
  grid-row: 1;
  grid-column: 1;
}

#button_1:hover {
  background-color: #ff4040;
  border-color: #ff4040;
}

#button_2:hover {
  background-color: #2dde6c;
  border-color: #2dde6c;
}
#button_2 {
  grid-row: 1;
  grid-column: 2;
}
#button_3 {
  grid-row: 2;
  grid-column: 1;
}

#button_3:hover {
  background-color: #ff7440;
  border-color: #ff7440;
}

#button_4 {
  grid-row: 2;
  grid-column: 2;
}
#button_4:hover {
  background-color: #25D366;
  border-color: #25D366;
}
#button_5 {
    grid-row: 1;
    grid-column: 3;
}

#button_5:hover {
  background-color: #aa92d4;
  border-color: #aa92d4;
}
#button_6   {
    grid-row: 2;
    grid-column: 3;
}

#button_6:hover {
  background-color: #51b2ff;
  border-color: #51b2ff;
}

#coronaZahlen {
  font-size: 4vh;
  color: var(--fc);
  font-weight: bolder;
}

/*toggle*/
.checkbox {
  opacity: 0;
  position: absolute;
}

.toggle {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 97%;
}

.label {
  background-color: #111;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  width: 50px;
  display: flex;
  border-radius: 50px;
  box-sizing: border-box;
  position: relative;
  transform: scale(1.2);

}
.ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}

/*Handy und Tablet*/
@media only screen and (max-width: 68.75em) {
    .container {
      grid-gap: 20px;
      padding: 40px;
    }
  
    .time {
      grid-row: 1 / span 2;
      grid-column: 1 / span 4;
    }
  
    .weatherblock {
      display: none;
    }
    
    #quote {
      font-size: 15px;
      margin-left: 10%;
      margin-right: 10%;
    }
    #greetings {
      font-size: var(--fg-secondary);
    }

    .coronablock {
      display: none;
    }
  
    .shorts{
      grid-column: 1 / span 4;
    }
  
    .button {
      grid-gap: 3vw;
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  